<%-  include("../partials/header.ejs")%>
<h1>My Playlists:</h1>
<!-- <form method="GET" action="/playlists">
    <label for="playlistSearch">Search:</label>

    <input type="text" placeholder="search playlists..." name=""/>
    <button type="submit">Search</button>
</form> -->

<ul>
    <% playlists.forEach((playlist) => { %>
        <li>
            <%= playlist.name %> 
            
        </li>
        <% }) %>
        <form method="POST" action="/playlists">
            <label for="name">Playlist Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Create New Playlist</button>
        </form>
</ul>


<%-  include("../partials/footer.ejs")%>